<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="<%= PREFIX_URL %>/style/generalStyle.css" type="text/css">
        <link rel="icon" type="image/x-icon" href="<%= PREFIX_URL %>/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="<%= PREFIX_URL %>/style/server.css">
        <title>Settings</title>
    </head>
    <body>
        <label for="activeUser">Aktive User</label>
        <div id="activeUserDiv">
            <table id="activeUser">
                <tr>
                    <th>
                        Nutername
                    </th>
                    <th>
                        Aktive Verbindungen
                    </th>
                </tr>
            </table>
        </div>
        <script src="<%= PREFIX_URL %>/js/generalFunctions.js" defer></script>
        <script type="text/javascript" src="<%= PREFIX_URL %>/js/server.js" defer></script>
    </body>
</html>