node_modules
start.bat
test.js
data
backup
README.md
done.txt
java/YouTubeDownloader/output/error.txt
java/YouTubeDownloader/output/output.txt
*.log
package-lock.json
settings.json
test.ts
tsconfig.json
build
update.zip
SSL/server.key
SSL/server.crt
temp/
test/*.jpg