* {
    background-color: darkslategray;
}

label {
    font-weight: bold;
    font-size: x-large;
    margin-top: 5px;
    width: 60px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}