@font-face {
    font-family: Axis;
    src: url(/private/font/AXIS_Extra_Bold_800.otf);
    font-weight: bold;
}

* {
    font-family: Axis;
}

body {
    background-color: #262626;
}

label {
    font-weight: bold;
    font-size: x-large;
    margin-top: 5px;
    width: 60px;
    color: white;
}

table, th, td {
    color: white;
    border: 1px solid white;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}