* {
    background-color: darkslategray;
}

b {
    margin-top: 5px;
    text-align: center;
}

.showItem {
    margin: 5px;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
}

.tumb {
    max-width: 100%;
    margin: auto;
}

.fortschritt {
    background-color: aqua;
    height: 3px;
    transform: translateY(-3px);
}

.Item {
    display: grid;
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
}

#container {
    position: absolute;
    background-color: darkslategray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    top: 30px;
    margin-top: 10px;
}

.text {
    color: white;
    background-color: transparent;
}

#buttons {
    display: flex;
    position: fixed;
    height: 20px;
    top: 5px;
    left: 20px;
    width: 100%;
}

#buttons::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

#settings::before {
    font-size: 25px;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f4fe";
}

#settings {
    position: absolute;
    right: 35px;
}

#back.notFound {
    color: rgba(0, 0, 0, 0.3);
}

#admin::before {
    font-size: 25px;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f508";
}

#admin {
    position: absolute;
    right: 120px;
}

#admin.hidden {
    visibility: hidden;
}

#logout {
    position: absolute;
}

#logout::before {
    font-size: 25px;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f2f5";
}

#server {
    position: absolute;
    right: 80px;
}

#server::before {
    font-size: 25px;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f233";
}

button {
    background: none;
    border: none;
    outline: none;
}