<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="<%= PREFIX_URL %>/style/generalStyle.css" type="text/css">
        <link rel="icon" type="image/x-icon" href="<%= PREFIX_URL %>/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="<%= PREFIX_URL %>/style/settings.css">
        <title>Settings</title>
    </head>
    <body>
        <div id="container">
            <div id="UsernameDiv" class="category">
                <label for="Username">Username</label>
                <b id="Username" class="item"></b>
            </div>
            <div id="passwordDiv" class="category">
                <label for="oldPass">Passwort</label>
                <input type="password" placeholder="Altes Passwort" class="item" id="oldPass">
                <input type="password" placeholder="Neues Passwort" class="item" id="newPass">
                <input type="password" placeholder="Passwort bestätigen" class="item" id="newPassConfirm">
                <button id="send">Bestätigen</button>
            </div>
            <div id="StandartLautstärke" class="category">
                <label for="stanLaut">Standart Lautstärke</label>
                <input type="number" placeholder="30" class="item" id="stanLaut" min="1" max="100">
                <button id="change">Ändern</button>
            </div>
        </div>
        <script src="<%= PREFIX_URL %>/js/generalFunctions.js" defer></script>
        <script type="text/javascript" src="<%= PREFIX_URL %>/js/settings.js" defer></script>
    </body>
</html>