<!DOCTYPE html>
<html>
  <head>
     <title>Loginformular</title>
     <link rel="stylesheet" href="<%= PREFIX_URL %>/style/generalStyle.css" type="text/css">
     <link rel="icon" type="image/x-icon" href="<%= PREFIX_URL %>/favicon.ico"/>
     <link rel="stylesheet" href="<%= PREFIX_URL %>/style/index.css" type="text/css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
     <link rel="manifest" href="<%= PREFIX_URL %>/manifest">
  </head>
  <body>
    <div class="container">
      <div id="header">
        <img src="<%= PREFIX_URL %>/icon" id="favIco" alt="Website Logo">
        <h1>Login</h1>
      </div>
      <input type="text" id="username" name="user" placeholder="Benutzername"><br>
      <input type="password" id="password" name="password" placeholder="Passwort"><br>
      <button type="submit" name="submit" id="submit" class="button">Login</button>
      <div class="wrongPass" id="wrongPass">
        <b id="wrongPassText">Das Passwort oder der Benutzername ist falsch!</b>
      </div>
      <script>
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register("worker.js", {
            scope: '/'
          })
        }
      </script>
      <script src="<%= PREFIX_URL %>/js/generalFunctions.js" defer></script>
      <script type="module" src="<%= PREFIX_URL %>/js/login.js" defer></script>
    </div>
  </body>
  <div id="offline" class="false">
    <b>
        <div>
            You are currently
        </div>
        <div class="important">
            OFFLINE
        </div>
    </b>
  </div>
</html>