@font-face {
  font-family: Axis;
  src: url(/fonts/AXIS_Extra_Bold_800.otf);
  font-weight: bold;
}

* {
  font-family: Axis;
}


body {
  background-color: #262626;
}

label, b {
  color: white;
}

input[type="text"], input[type="password"] {
  background-color: transparent;
  border: none;
  color: #fff;
  border-bottom: 1px solid white;
}

input[type="text"]:focus, input[type="password"]:focus {
  -webkit-appearance: none;
  outline: 0 !important;
}

select {
  background-color: transparent;
  color: white;
  border: none;
}

#permDiv {
  display: inline;
}

label {
  font-weight: bold;
  display: block;
  margin: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  width: auto;
  margin-right: 15px;
}

.User {
  margin: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
  
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
  
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 5px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}
  
input:checked + .slider {
  background-color: greenyellow;
}
  
input:checked + .slider:before {
  -webkit-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
}
 
.slider.round {
  border-radius: 34px;
}
  
.slider.round:before {
  border-radius: 50%;
}

#permLabel {
  display: inline;
  font-weight: bolder;
}

#FormLabel {
  display: inline;
  margin: 10px;
}

#newUser {
  margin: 10px;
  margin-top: 0;
  display: block;
}

button, input[type="button"] {
  background: rgba(128, 128, 128, 0.3);
  color: white;
  border: none;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

#permDiv {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  width: fit-content;
}

select::-ms-expand {
  display: none;
}

#permDiv:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: white;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  padding: 0 0 2px;
  border-bottom: 1px solid white;
  position: absolute;
  pointer-events: none;
}

#permDiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  color: white;
  font-size: 16px;
}